PORT=3000
NODE_ENV=production
GITHUB_CLIENT_ID=Ov23liuVygGYwQUvItDP
GITHUB_CLIENT_SECRET=7c75df8e18aa6e59a4dcbb63c6f448f55392eb08
JWT_SECRET=replace-this-with-a-long-random-secret
FRONTEND_URL=https://your-portal.vercel.app
DB_PATH=./insighta.db